<mat-toolbar [ngStyle]="{ 'max-width': '100%' }">
    <section>
        <a mat-button routerLink="/"><h2>OShop</h2></a>
        <a mat-button routerLink="/products">Products</a>
    </section>

    <span class="fill-remaining-space"></span>

    <span *ngIf="currentUser; else noLoggedUser">
        <button mat-button [matMenuTriggerFor]="menu">
            <span>{{ currentUser.name }} </span>
        </button>
        <mat-menu #menu="matMenu">
            <ng-container *ngIf="currentUser.isAdmin">
                <button mat-menu-item routerLink="/admin/products">
                    <mat-icon>settings</mat-icon>
                    <span>Manage Products</span>
                </button>
                <button mat-menu-item routerLink="/admin/orders">
                    <mat-icon>settings</mat-icon>
                    <span>Manage Orders</span>
                </button>
            </ng-container>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>

<!-- -------------------------------------------------------------------------------- -->
<ng-template #noLoggedUser>
    <a mat-button routerLink="/login">Sign In</a>
</ng-template>
