<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
        <ng-container [ngTemplateOutlet]="myform"></ng-container>
    </mat-grid-tile>
    <mat-grid-tile>
        <ng-container [ngTemplateOutlet]="mycard"></ng-container>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #myform>
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput type="text" />
            <mat-error *ngIf="title.invalid">Title cannot be empty</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input
                formControlName="price"
                matInput
                type="number"
                class="example-right-align"
            />
            <span matPrefix>$&nbsp;</span>
            <mat-error *ngIf="price.invalid">
                <span *ngIf="price.errors && price.errors.required"
                    >Price cannot be empty</span
                >
                <span *ngIf="price.errors && price.errors.min"
                    >Not negatives values</span
                >
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option
                    *ngFor="let categ of categories$ | async"
                    [value]="categ.title"
                >
                    {{ categ.title }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="category.invalid"
                >Category cannot be empty</mat-error
            >
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Image Url</mat-label>
            <input formControlName="imageUrl" matInput type="text" />
            <mat-error *ngIf="imageUrl.invalid">
                <span *ngIf="imageUrl.errors && imageUrl.errors.pattern"
                    >Invalid url location</span
                >
            </mat-error>
        </mat-form-field>

        <br />

        <button
            [disabled]="!form.valid"
            mat-raised-button
            color="primary"
            type="button"
            (click)="save()"
        >
            Save
        </button>
        <button          
            *ngIf="id!='new'"
            mat-raised-button
            color="warn"
            type="button"
            (click)="delete()"
        >
            Delete
        </button>
    </form>
</ng-template>

<ng-template #mycard>
    <mat-card class="example-card" style="width: 20rem">
		<div *ngIf="title.value" >
			<mat-card-header>
				<mat-card-title>{{ title.value }}</mat-card-title>
				<mat-card-subtitle>{{
					price.value | currency: 'USD'
				}}</mat-card-subtitle>
			</mat-card-header>
			<img
				*ngIf="imageUrl.value"
				mat-card-image
				[src]="imageUrl.value"
				alt="image url"
			/>
			<mat-card-content>
				<h3>
					{{ category.value }}
				</h3>
			</mat-card-content>
		</div>
    </mat-card>
</ng-template>
