<mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <button mat-button >Animal index</button>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-selection-list  [multiple]="false">
        <mat-list-option routerLink="/admin/products">
          <mat-icon mat-list-icon>settings</mat-icon>
          <div mat-line>Manage Products</div>
        </mat-list-option>
        <mat-list-option routerLink="/admin/orders">
          <mat-icon mat-list-icon>settings</mat-icon>
          <div mat-line>Manage Products</div>
        </mat-list-option>
        <mat-list-option >
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <div mat-line>Logout</div>
          </mat-list-option>
      </mat-selection-list>

    </mat-expansion-panel>

  </mat-accordion>
  