<div class="login-container">
    <button mat-stroked-button style="padding: 1rem;" (click)="login()">
        <mat-icon 
            style="width: 50px; height:30px"
            svgIcon="logo">
        </mat-icon> 
        Login With Google
    </button>
</div>