<mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input
        type="text"
        matInput
        placeholder="Search something"
        #i
        (keyup)="search(i.value)"
    />
</mat-form-field>
