<button mat-raised-button color="primary" routerLink="/admin/products/new">New Product</button>
<br/>
<search-input (input-keyup)="handleSearchInput($event)"></search-input>

<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin: 20px 0;"> 
    <!--  Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!--  Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <!--  Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><a mat-button color="primary" [routerLink]="element.key">Edit</a></td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
<mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>